USE [AIUB_LOST_FOUND]
GO
/****** Object:  Table [dbo].[MatchHistories]    Script Date: 1/20/2026 9:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchHistories](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[LostReportID] [int] NOT NULL,
	[FoundReportID] [int] NOT NULL,
	[MatchScore] [int] NOT NULL,
	[MatchDate] [datetime] NOT NULL,
	[ConfirmedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 1/20/2026 9:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportType] [varchar](10) NOT NULL,
	[ReporterName] [varchar](100) NOT NULL,
	[ReporterStudentID] [varchar](50) NOT NULL,
	[ReporterPhone] [varchar](20) NOT NULL,
	[ItemName] [varchar](100) NOT NULL,
	[ItemCategory] [varchar](50) NOT NULL,
	[Brand] [varchar](100) NULL,
	[Color] [varchar](50) NULL,
	[UniqueMark] [varchar](100) NULL,
	[Description] [text] NULL,
	[Location] [varchar](200) NOT NULL,
	[ReportDate] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[AddedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/20/2026 9:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[AddedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MatchHistories] ON 

INSERT [dbo].[MatchHistories] ([MatchID], [LostReportID], [FoundReportID], [MatchScore], [MatchDate], [ConfirmedBy]) VALUES (3, 12, 15, 90, CAST(N'2026-01-20T13:13:46.170' AS DateTime), 2)
INSERT [dbo].[MatchHistories] ([MatchID], [LostReportID], [FoundReportID], [MatchScore], [MatchDate], [ConfirmedBy]) VALUES (4, 13, 16, 80, CAST(N'2026-01-20T14:06:49.523' AS DateTime), 2)
INSERT [dbo].[MatchHistories] ([MatchID], [LostReportID], [FoundReportID], [MatchScore], [MatchDate], [ConfirmedBy]) VALUES (5, 17, 14, 90, CAST(N'2026-01-20T14:24:42.080' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[MatchHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportID], [ReportType], [ReporterName], [ReporterStudentID], [ReporterPhone], [ItemName], [ItemCategory], [Brand], [Color], [UniqueMark], [Description], [Location], [ReportDate], [Status], [AddedBy]) VALUES (11, N'Lost', N'Rahul', N'24-58397-2', N'01790364075', N'Realme', N'Mobile', N'Realme', N'Blue', N'13570', N'Eating Time Suddenly Noticed', N'canteen', CAST(N'2026-01-20T12:42:23.593' AS DateTime), N'Matched', 2)
INSERT [dbo].[Reports] ([ReportID], [ReportType], [ReporterName], [ReporterStudentID], [ReporterPhone], [ItemName], [ItemCategory], [Brand], [Color], [UniqueMark], [Description], [Location], [ReportDate], [Status], [AddedBy]) VALUES (12, N'Lost', N'Dev', N'24-58397-3', N'01790364075', N'HP', N'Laptop', N'HP', N'silver', N'141414', N'Sleeped and Lost', N'library', CAST(N'2026-01-20T12:45:09.767' AS DateTime), N'Matched', 2)
INSERT [dbo].[Reports] ([ReportID], [ReportType], [ReporterName], [ReporterStudentID], [ReporterPhone], [ItemName], [ItemCategory], [Brand], [Color], [UniqueMark], [Description], [Location], [ReportDate], [Status], [AddedBy]) VALUES (13, N'Lost', N'Shaha', N'24-58397-0', N'01790364000', N'Harry potter', N'Book', N'English', N'Mix', N'10209', N'Fall From Bag', N'Aiub Gate', CAST(N'2026-01-20T12:46:57.760' AS DateTime), N'Matched', 2)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [Password], [Role], [Gender], [AddedBy]) VALUES (1, N'System Admin', N'system@gmail.com', N'01701010101', N'system', N'Admin', N'Male', NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [Password], [Role], [Gender], [AddedBy]) VALUES (2, N'Rahul Dev Shaha', N'rahul@gmail.com', N'01790364075', N'rahul@gmail.com', N'Admin', N'Male', NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [Password], [Role], [Gender], [AddedBy]) VALUES (10, N'Dev', N'dev@gmail.com', N'01790364075', N'devdev', N'Staff', N'Male', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105346D835A50]    Script Date: 1/20/2026 9:32:02 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MatchHistories] ADD  DEFAULT (getdate()) FOR [MatchDate]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[MatchHistories]  WITH CHECK ADD  CONSTRAINT [FK_Match_ConfirmedBy] FOREIGN KEY([ConfirmedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MatchHistories] CHECK CONSTRAINT [FK_Match_ConfirmedBy]
GO
ALTER TABLE [dbo].[MatchHistories]  WITH CHECK ADD  CONSTRAINT [FK_Match_FoundReport] FOREIGN KEY([FoundReportID])
REFERENCES [dbo].[Reports] ([ReportID])
GO
ALTER TABLE [dbo].[MatchHistories] CHECK CONSTRAINT [FK_Match_FoundReport]
GO
ALTER TABLE [dbo].[MatchHistories]  WITH CHECK ADD  CONSTRAINT [FK_Match_LostReport] FOREIGN KEY([LostReportID])
REFERENCES [dbo].[Reports] ([ReportID])
GO
ALTER TABLE [dbo].[MatchHistories] CHECK CONSTRAINT [FK_Match_LostReport]
GO
ALTER TABLE [dbo].[MatchHistories]  WITH CHECK ADD  CONSTRAINT [FK_Match_Users] FOREIGN KEY([ConfirmedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MatchHistories] CHECK CONSTRAINT [FK_Match_Users]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD CHECK  (([ReportType]='Found' OR [ReportType]='Lost'))
GO
